
<div class="ibox ">
  <div class="ibox-title">
    <h2>Formulário</h2>
  </div>
  <div class="ibox-content">
    <%= simple_form_for(@client) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :birth_date, as: :date, html5: true %>
        <%= f.input :phone %>
        <%= f.input :status, collection: enum_options_for_select(Client, :status) %>
        <%= f.input :country, as: :string %>
        <%= f.input :city %>
        <%= f.input :state %>
        <%= f.input :street %>
        <%= f.input :number %>
    </div>

    </br>

    <%= f.button :submit, class: "btn btn-default btn-pills waves-effect waves-themed" %>

    <% end %>
  </div>
</div>