<%- model_class = Client -%>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox ">
    <div class="ibox-title">
      <h2>Dados</h2>
    </div>
    <div class="ibox-content">
              <p>
          <strong><%= model_class.human_attribute_name( :name) %>:</strong>
          <%= @client.name %>
        </p>
              <p>
          <strong><%= model_class.human_attribute_name( :email) %>:</strong>
          <%= @client.email %>
        </p>
              <p>
          <strong><%= model_class.human_attribute_name( :birth_date) %>:</strong>
          <%= @client.birth_date %>
        </p>
              <p>
          <strong><%= model_class.human_attribute_name( :phone) %>:</strong>
          <%= @client.phone %>
        </p>
              <p>
          <strong><%= model_class.human_attribute_name( :user) %>:</strong>
          <%= @client.user.email %>
        </p>
              <p>
          <strong><%= model_class.human_attribute_name( :status) %>:</strong>
          <%= enum_l(@client, :status) %>
        </p>
              <p>
          <strong><%= model_class.human_attribute_name( :country) %>:</strong>
          <%= @client.country %>
        </p>
              <p>
          <strong><%= model_class.human_attribute_name( :city) %>:</strong>
          <%= @client.city %>
        </p>
              <p>
          <strong><%= model_class.human_attribute_name( :state) %>:</strong>
          <%= @client.state %>
        </p>
              <p>
          <strong><%= model_class.human_attribute_name( :street) %>:</strong>
          <%= @client.street %>
        </p>
              <p>
          <strong><%= model_class.human_attribute_name( :number) %>:</strong>
          <%= @client.number %>
        </p>
          </div>
  </div>
</div>
