<%- model_class = Product -%>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox ">
    <div class="ibox-title">
      <h2>Dados</h2>
    </div>
    <div class="ibox-content">
      <p>
        <strong><%= model_class.human_attribute_name( :name) %>:</strong>
        <%= @product.name %>
      </p>
      <p>
        <strong><%= model_class.human_attribute_name( :description) %>:</strong>
        <%= @product.description %>
      </p>
      <p>
        <strong><%= model_class.human_attribute_name( :status) %>:</strong>
        <%= enum_l(@product, :status) %>
      </p>
      <p>
        <strong><%= model_class.human_attribute_name( :price) %>:</strong>
        <%= number_to_currency(@product.price, unit: '', precision: 2)  %>
      </p>
      <p>
        <strong><%= model_class.human_attribute_name( :user) %>:</strong>
        <%= @product.user.email %>
      </p>
      <p>
        <%= image_tag @product.main_image, :size => "260x180" if @product.main_image.attached? %>
      </p>
    </div>
  </div>
</div>
